Repository vidzy-social/vidzy, pull requests merged in 2025-01, with the labels that each got.

#47 feat: light theme
  static/index.css
  templates/topnav.html
Labels: HTML

#48 feat: custom error pages for `404` and `500`
  app.py
  templates/404.html
  templates/500.html
Labels: HTML, Python

#51 feat: add upload time
  app.py
  mysql-dump/MYSQL_DATABASE.sql
  templates/displayshort.html
  templates/public_vid_analytics.html
Labels: HTML, Python

#53 add an conversion of .env boolean values
  settings.py
Labels: Python
